@font-face {
  font-family: "Moririse2";
  font-display: swap;
  src:  url("mobirise2.eot?f2bix4");
  src:  url("mobirise2.eot?f2bix4#iefix") format("embedded-opentype"),
    url("mobirise2.woff2?f2bix4") format("woff2"),
    url("mobirise2.woff?f2bix4") format("woff"),
    url("mobirise2.ttf?f2bix4") format("truetype"),
    url("mobirise2.svg?f2bix4#mobirise2") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="mobi-"], [class*=" mobi-"] {
  
  font-family: "Moririse2" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mobi-mbri-add-submenu:before {
  content: "";
}
.mobi-mbri-alert:before {
  content: "";
}
.mobi-mbri-align-center:before {
  content: "";
}
.mobi-mbri-align-justify:before {
  content: "";
}
.mobi-mbri-align-left:before {
  content: "";
}
.mobi-mbri-align-right:before {
  content: "";
}
.mobi-mbri-android:before {
  content: "";
}
.mobi-mbri-apple:before {
  content: "";
}
.mobi-mbri-arrow-down:before {
  content: "";
}
.mobi-mbri-arrow-next:before {
  content: "";
}
.mobi-mbri-arrow-prev:before {
  content: "";
}
.mobi-mbri-arrow-up:before {
  content: "";
}
.mobi-mbri-bold:before {
  content: "";
}
.mobi-mbri-bookmark:before {
  content: "";
}
.mobi-mbri-bootstrap:before {
  content: "";
}
.mobi-mbri-briefcase:before {
  content: "";
}
.mobi-mbri-browse:before {
  content: "";
}
.mobi-mbri-bulleted-list:before {
  content: "";
}
.mobi-mbri-calendar:before {
  content: "";
}
.mobi-mbri-camera:before {
  content: "";
}
.mobi-mbri-cart-add:before {
  content: "";
}
.mobi-mbri-cart-full:before {
  content: "";
}
.mobi-mbri-cash:before {
  content: "";
}
.mobi-mbri-change-style:before {
  content: "";
}
.mobi-mbri-chat:before {
  content: "";
}
.mobi-mbri-clock:before {
  content: "";
}
.mobi-mbri-close:before {
  content: "";
}
.mobi-mbri-cloud:before {
  content: "";
}
.mobi-mbri-code:before {
  content: "";
}
.mobi-mbri-contact-form:before {
  content: "";
}
.mobi-mbri-credit-card:before {
  content: "";
}
.mobi-mbri-cursor-click:before {
  content: "";
}
.mobi-mbri-cust-feedback:before {
  content: "";
}
.mobi-mbri-database:before {
  content: "";
}
.mobi-mbri-delivery:before {
  content: "";
}
.mobi-mbri-desktop:before {
  content: "";
}
.mobi-mbri-devices:before {
  content: "";
}
.mobi-mbri-down:before {
  content: "";
}
.mobi-mbri-download-2:before {
  content: "";
}
.mobi-mbri-download:before {
  content: "";
}
.mobi-mbri-drag-n-drop-2:before {
  content: "";
}
.mobi-mbri-drag-n-drop:before {
  content: "";
}
.mobi-mbri-edit-2:before {
  content: "";
}
.mobi-mbri-edit:before {
  content: "";
}
.mobi-mbri-error:before {
  content: "";
}
.mobi-mbri-extension:before {
  content: "";
}
.mobi-mbri-features:before {
  content: "";
}
.mobi-mbri-file:before {
  content: "";
}
.mobi-mbri-flag:before {
  content: "";
}
.mobi-mbri-folder:before {
  content: "";
}
.mobi-mbri-gift:before {
  content: "";
}
.mobi-mbri-github:before {
  content: "";
}
.mobi-mbri-globe-2:before {
  content: "";
}
.mobi-mbri-globe:before {
  content: "";
}
.mobi-mbri-growing-chart:before {
  content: "";
}
.mobi-mbri-hearth:before {
  content: "";
}
.mobi-mbri-help:before {
  content: "";
}
.mobi-mbri-home:before {
  content: "";
}
.mobi-mbri-hot-cup:before {
  content: "";
}
.mobi-mbri-idea:before {
  content: "";
}
.mobi-mbri-image-gallery:before {
  content: "";
}
.mobi-mbri-image-slider:before {
  content: "";
}
.mobi-mbri-info:before {
  content: "";
}
.mobi-mbri-italic:before {
  content: "";
}
.mobi-mbri-key:before {
  content: "";
}
.mobi-mbri-laptop:before {
  content: "";
}
.mobi-mbri-layers:before {
  content: "";
}
.mobi-mbri-left-right:before {
  content: "";
}
.mobi-mbri-left:before {
  content: "";
}
.mobi-mbri-letter:before {
  content: "";
}
.mobi-mbri-like:before {
  content: "";
}
.mobi-mbri-link:before {
  content: "";
}
.mobi-mbri-lock:before {
  content: "";
}
.mobi-mbri-login:before {
  content: "";
}
.mobi-mbri-logout:before {
  content: "";
}
.mobi-mbri-magic-stick:before {
  content: "";
}
.mobi-mbri-map-pin:before {
  content: "";
}
.mobi-mbri-menu:before {
  content: "";
}
.mobi-mbri-mobile-2:before {
  content: "";
}
.mobi-mbri-mobile-horizontal:before {
  content: "";
}
.mobi-mbri-mobile:before {
  content: "";
}
.mobi-mbri-mobirise:before {
  content: "";
}
.mobi-mbri-more-horizontal:before {
  content: "";
}
.mobi-mbri-more-vertical:before {
  content: "";
}
.mobi-mbri-music:before {
  content: "";
}
.mobi-mbri-new-file:before {
  content: "";
}
.mobi-mbri-numbered-list:before {
  content: "";
}
.mobi-mbri-opened-folder:before {
  content: "";
}
.mobi-mbri-pages:before {
  content: "";
}
.mobi-mbri-paper-plane:before {
  content: "";
}
.mobi-mbri-paperclip:before {
  content: "";
}
.mobi-mbri-phone:before {
  content: "";
}
.mobi-mbri-photo:before {
  content: "";
}
.mobi-mbri-photos:before {
  content: "";
}
.mobi-mbri-pin:before {
  content: "";
}
.mobi-mbri-play:before {
  content: "";
}
.mobi-mbri-plus:before {
  content: "";
}
.mobi-mbri-preview:before {
  content: "";
}
.mobi-mbri-print:before {
  content: "";
}
.mobi-mbri-protect:before {
  content: "";
}
.mobi-mbri-question:before {
  content: "";
}
.mobi-mbri-quote-left:before {
  content: "";
}
.mobi-mbri-quote-right:before {
  content: "";
}
.mobi-mbri-redo:before {
  content: "";
}
.mobi-mbri-refresh:before {
  content: "";
}
.mobi-mbri-responsive-2:before {
  content: "";
}
.mobi-mbri-responsive:before {
  content: "";
}
.mobi-mbri-right:before {
  content: "";
}
.mobi-mbri-rocket:before {
  content: "";
}
.mobi-mbri-sad-face:before {
  content: "";
}
.mobi-mbri-sale:before {
  content: "";
}
.mobi-mbri-save:before {
  content: "";
}
.mobi-mbri-search:before {
  content: "";
}
.mobi-mbri-setting-2:before {
  content: "";
}
.mobi-mbri-setting-3:before {
  content: "";
}
.mobi-mbri-setting:before {
  content: "";
}
.mobi-mbri-share:before {
  content: "";
}
.mobi-mbri-shopping-bag:before {
  content: "";
}
.mobi-mbri-shopping-basket:before {
  content: "";
}
.mobi-mbri-shopping-cart:before {
  content: "";
}
.mobi-mbri-sites:before {
  content: "";
}
.mobi-mbri-smile-face:before {
  content: "";
}
.mobi-mbri-speed:before {
  content: "";
}
.mobi-mbri-star:before {
  content: "";
}
.mobi-mbri-success:before {
  content: "";
}
.mobi-mbri-sun:before {
  content: "";
}
.mobi-mbri-sun2:before {
  content: "";
}
.mobi-mbri-tablet-vertical:before {
  content: "";
}
.mobi-mbri-tablet:before {
  content: "";
}
.mobi-mbri-target:before {
  content: "";
}
.mobi-mbri-timer:before {
  content: "";
}
.mobi-mbri-to-ftp:before {
  content: "";
}
.mobi-mbri-to-local-drive:before {
  content: "";
}
.mobi-mbri-touch-swipe:before {
  content: "";
}
.mobi-mbri-touch:before {
  content: "";
}
.mobi-mbri-trash:before {
  content: "";
}
.mobi-mbri-underline:before {
  content: "";
}
.mobi-mbri-undo:before {
  content: "";
}
.mobi-mbri-unlink:before {
  content: "";
}
.mobi-mbri-unlock:before {
  content: "";
}
.mobi-mbri-up-down:before {
  content: "";
}
.mobi-mbri-up:before {
  content: "";
}
.mobi-mbri-update:before {
  content: "";
}
.mobi-mbri-upload-2:before {
  content: "";
}
.mobi-mbri-upload:before {
  content: "";
}
.mobi-mbri-user-2:before {
  content: "";
}
.mobi-mbri-user:before {
  content: "";
}
.mobi-mbri-users:before {
  content: "";
}
.mobi-mbri-video-play:before {
  content: "";
}
.mobi-mbri-video:before {
  content: "";
}
.mobi-mbri-watch:before {
  content: "";
}
.mobi-mbri-website-theme-2:before {
  content: "";
}
.mobi-mbri-website-theme:before {
  content: "";
}
.mobi-mbri-wifi:before {
  content: "";
}
.mobi-mbri-windows:before {
  content: "";
}
.mobi-mbri-zoom-in:before {
  content: "";
}
.mobi-mbri-zoom-out:before {
  content: "";
}
