.simoens-inline-style-index-001 { position:absolute;left:-9999px;top:auto;width:1px;height:1px;overflow:hidden;z-index:99999;background:#fff;color:#111;border:2px solid currentColor;border-radius:.375rem;padding:.5rem .75rem;text-decoration:none; }
.simoens-inline-style-index-002 { margin-top:10px }
.simoens-inline-style-index-003 { margin-top:6px }
.simoens-inline-style-index-004 { width:100%; margin-top:8px }
.simoens-inline-style-index-005 { position:absolute!important;width:1px!important;height:1px!important;padding:0!important;margin:-1px!important;overflow:hidden!important;clip:rect(0,0,0,0)!important;white-space:nowrap!important;border:0!important; }
.simoens-inline-style-index-006 { position:absolute!important;width:1px!important;height:1px!important;padding:0!important;margin:-1px!important;overflow:hidden!important;clip:rect(0,0,0,0)!important;white-space:nowrap!important;border:0!important; }
.simoens-inline-style-index-007 { position:absolute!important;width:1px!important;height:1px!important;padding:0!important;margin:-1px!important;overflow:hidden!important;clip:rect(0,0,0,0)!important;white-space:nowrap!important;border:0!important; }
.simoens-inline-style-index-008 { color:#ff7a7a }
.simoens-inline-style-index-009 { color:#6dffb0 }
.simoens-inline-style-index-010 { color:#7ec8ff }
