.simoens-inline-style-chatbot-001 { z-index: 0 }
.simoens-inline-style-chatbot-002 { display: none; }
.simoens-inline-style-chatbot-003 { height: 5rem; }
.simoens-inline-style-chatbot-004 { font-size: 32px; }
.simoens-inline-style-chatbot-005 { font-size: 32px; }
