.simoens-inline-style-index-001 { position:absolute;left:-9999px;top:auto;width:1px;height:1px;overflow:hidden;z-index:99999;background:#fff;color:#111;border:2px solid currentColor;border-radius:.375rem;padding:.5rem .75rem;text-decoration:none; }
.simoens-inline-style-index-002 { position:absolute!important;width:1px!important;height:1px!important;padding:0!important;margin:-1px!important;overflow:hidden!important;clip:rect(0,0,0,0)!important;white-space:nowrap!important;border:0!important; }
.simoens-inline-style-index-003 { color:var(--A) }
.simoens-inline-style-index-004 { color:var(--B) }
.simoens-inline-style-index-005 { color:var(--C) }
.simoens-inline-style-index-006 { color:var(--D) }
