.simoens-inline-style-index-template-01-001 { margin-top:14px }
.simoens-inline-style-index-template-01-002 { margin-top:16px; }
.simoens-inline-style-index-template-01-003 { grid-template-columns:repeat(2,minmax(0,1fr)); }
.simoens-inline-style-index-template-01-004 { margin-top:12px; }
.simoens-inline-style-index-template-01-005 { margin-top:10px; }
.simoens-inline-style-index-template-01-006 { margin-top:10px; }
.simoens-inline-style-index-template-01-007 { margin-top:12px; }
.simoens-inline-style-index-template-01-008 { margin-top:16px; }
.simoens-inline-style-index-template-01-009 { margin-top:12px; }
.simoens-inline-style-index-template-01-010 { margin-top:16px; }
