.simoens-inline-style-index-001 { position:absolute;left:-9999px;top:auto;width:1px;height:1px;overflow:hidden;z-index:99999;background:#fff;color:#111;border:2px solid currentColor;border-radius:.375rem;padding:.5rem .75rem; }
.simoens-inline-style-index-002 { margin-top:10px }
.simoens-inline-style-index-003 { display:none }
.simoens-inline-style-index-004 { margin-top:10px }
.simoens-inline-style-index-005 { margin-top:10px }
.simoens-inline-style-index-006 { margin-top:8px }
.simoens-inline-style-index-007 { margin-top:10px }
.simoens-inline-style-index-008 { margin:0 }
.simoens-inline-style-index-009 { margin-top:10px }
.simoens-inline-style-index-010 { margin-top:12px }
.simoens-inline-style-index-011 { margin:0;font-size:13px }
.simoens-inline-style-index-012 { display:none }
