.simoens-inline-style-Editor-001 { margin-left: 0px; }
.simoens-inline-style-Editor-002 { margin-left: 0px; }
.simoens-inline-style-Editor-003 { margin-left: 0px; }
.simoens-inline-style-Editor-004 { margin-left: 0px; }
.simoens-inline-style-Editor-005 { margin-left: 0px; }
.simoens-inline-style-Editor-006 { margin-left: 0px; }
.simoens-inline-style-Editor-007 { margin-left: 0px; }
.simoens-inline-style-Editor-008 { margin-left: 0px; }
.simoens-inline-style-Editor-009 { margin-left: 0px; }
.simoens-inline-style-Editor-010 { margin-left: 0px; }
.simoens-inline-style-Editor-011 { margin-left: 0px; }
.simoens-inline-style-Editor-012 { width: 512px; height: 512px; transform: none; }
.simoens-inline-style-Editor-013 { width: 512px; height: 512px; }
.simoens-inline-style-Editor-014 { cursor: move; }
.simoens-inline-style-Editor-015 { cursor: move; }
.simoens-inline-style-Editor-016 { cursor: move; }
.simoens-inline-style-Editor-017 { cursor: move; }
.simoens-inline-style-Editor-018 { cursor: move; }
.simoens-inline-style-Editor-019 { cursor: move; }
.simoens-inline-style-Editor-020 { cursor: move; }
.simoens-inline-style-Editor-021 { cursor: move; }
.simoens-inline-style-Editor-022 { cursor: move; }
.simoens-inline-style-Editor-023 { cursor: move; }
.simoens-inline-style-Editor-024 { cursor: move; }
.simoens-inline-style-Editor-025 { cursor: move; }
.simoens-inline-style-Editor-026 { cursor: move; }
.simoens-inline-style-Editor-027 { cursor: move; }
.simoens-inline-style-Editor-028 { cursor: move; }
.simoens-inline-style-Editor-029 { cursor: move; }
.simoens-inline-style-Editor-030 { cursor: move; }
.simoens-inline-style-Editor-031 { cursor: move; }
.simoens-inline-style-Editor-032 { cursor: move; }
.simoens-inline-style-Editor-033 { cursor: move; }
.simoens-inline-style-Editor-034 { cursor: move; }
.simoens-inline-style-Editor-035 { cursor: move; }
.simoens-inline-style-Editor-036 { cursor: move; }
.simoens-inline-style-Editor-037 { cursor: move; }
.simoens-inline-style-Editor-038 { cursor: move; }
.simoens-inline-style-Editor-039 { cursor: move; }
.simoens-inline-style-Editor-040 { cursor: move; }
.simoens-inline-style-Editor-041 { cursor: move; }
.simoens-inline-style-Editor-042 { cursor: move; }
.simoens-inline-style-Editor-043 { cursor: move; }
.simoens-inline-style-Editor-044 { cursor: move; }
.simoens-inline-style-Editor-045 { cursor: move; }
.simoens-inline-style-Editor-046 { cursor: move; }
.simoens-inline-style-Editor-047 { cursor: move; }
.simoens-inline-style-Editor-048 { cursor: move; }
.simoens-inline-style-Editor-049 { cursor: move; }
.simoens-inline-style-Editor-050 { cursor: move; }
.simoens-inline-style-Editor-051 { cursor: move; }
.simoens-inline-style-Editor-052 { cursor: move; }
.simoens-inline-style-Editor-053 { cursor: move; }
.simoens-inline-style-Editor-054 { cursor: move; }
.simoens-inline-style-Editor-055 { cursor: move; }
.simoens-inline-style-Editor-056 { width: 512px; height: 512px; }
.simoens-inline-style-Editor-057 { display: none; left: 322px; top: 90px; width: 7px; height: 7px; }
.simoens-inline-style-Editor-058 { height:8px }
.simoens-inline-style-Editor-059 { height:8px }
.simoens-inline-style-Editor-060 { height:8px }
.simoens-inline-style-Editor-061 { height:8px }
