.simoens-inline-style-index-001 { position:absolute;left:-9999px;top:auto;width:1px;height:1px;overflow:hidden;z-index:99999;background:#fff;color:#111;border:2px solid currentColor;border-radius:.375rem;padding:.5rem .75rem;text-decoration:none; }
.simoens-inline-style-index-002 { position:absolute!important;width:1px!important;height:1px!important;padding:0!important;margin:-1px!important;overflow:hidden!important;clip:rect(0,0,0,0)!important;white-space:nowrap!important;border:0!important; }
.simoens-inline-style-index-003 { margin-top: 8px; }
.simoens-inline-style-index-004 { margin-bottom:6px }
.simoens-inline-style-index-005 { background: rgb(74, 168, 255); }
.simoens-inline-style-index-006 { background: rgb(103, 232, 165); }
.simoens-inline-style-index-007 { background: rgb(255, 179, 71); }
.simoens-inline-style-index-008 { background: rgb(255, 107, 129); }
.simoens-inline-style-index-009 { background: rgb(185, 135, 255); }
.simoens-inline-style-index-010 { background: rgb(255, 255, 255); }
.simoens-inline-style-index-011 { background:#b57100 }
.simoens-inline-style-index-012 { background:#fffa00 }
.simoens-inline-style-index-013 { margin-top: 10px; }
.simoens-inline-style-index-014 { background:#dce8ff }
.simoens-inline-style-index-015 { background:#b987ff }
.simoens-inline-style-index-016 { background:#48d597 }
.simoens-inline-style-index-017 { background:#ffb347 }
.simoens-inline-style-index-018 { background:#ff6b81 }
