@font-face {
  font-family: "mobirise-icons-bold";
  font-display: swap;
  src:  url("mobirise-icons-bold.eot?m1l4yr");
  src:  url("mobirise-icons-bold.eot?m1l4yr#iefix") format("embedded-opentype"),
    url("mobirise-icons-bold.woff2?m1l4yr") format("woff2"),
    url("mobirise-icons-bold.woff?m1l4yr") format("woff"),
    url("mobirise-icons-bold.ttf?m1l4yr") format("truetype"),
    url("mobirise-icons-bold.svg?m1l4yr#mobirise-icons-bold") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="mbrib-"], [class*="mbrib-"] {
  
  font-family: "mobirise-icons-bold" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mbrib-add-submenu:before {
  content: "";
}
.mbrib-alert:before {
  content: "";
}
.mbrib-align-center:before {
  content: "";
}
.mbrib-align-justify:before {
  content: "";
}
.mbrib-align-left:before {
  content: "";
}
.mbrib-align-right:before {
  content: "";
}
.mbrib-android:before {
  content: "";
}
.mbrib-apple:before {
  content: "";
}
.mbrib-arrow-down:before {
  content: "";
}
.mbrib-arrow-next:before {
  content: "";
}
.mbrib-arrow-prev:before {
  content: "";
}
.mbrib-arrow-up:before {
  content: "";
}
.mbrib-bold:before {
  content: "";
}
.mbrib-bookmark:before {
  content: "";
}
.mbrib-bootstrap:before {
  content: "";
}
.mbrib-briefcase:before {
  content: "";
}
.mbrib-browse:before {
  content: "";
}
.mbrib-bulleted-list:before {
  content: "";
}
.mbrib-calendar:before {
  content: "";
}
.mbrib-camera:before {
  content: "";
}
.mbrib-cart-add:before {
  content: "";
}
.mbrib-cart-full:before {
  content: "";
}
.mbrib-cash:before {
  content: "";
}
.mbrib-change-style:before {
  content: "";
}
.mbrib-chat:before {
  content: "";
}
.mbrib-clock:before {
  content: "";
}
.mbrib-close:before {
  content: "";
}
.mbrib-cloud:before {
  content: "";
}
.mbrib-code:before {
  content: "";
}
.mbrib-contact-form:before {
  content: "";
}
.mbrib-credit-card:before {
  content: "";
}
.mbrib-cursor-click:before {
  content: "";
}
.mbrib-cust-feedback:before {
  content: "";
}
.mbrib-database:before {
  content: "";
}
.mbrib-delivery:before {
  content: "";
}
.mbrib-desktop:before {
  content: "";
}
.mbrib-devices:before {
  content: "";
}
.mbrib-down:before {
  content: "";
}
.mbrib-download:before {
  content: "";
}
.mbrib-drag-n-drop:before {
  content: "";
}
.mbrib-drag-n-drop2:before {
  content: "";
}
.mbrib-edit:before {
  content: "";
}
.mbrib-edit2:before {
  content: "";
}
.mbrib-error:before {
  content: "";
}
.mbrib-extension:before {
  content: "";
}
.mbrib-features:before {
  content: "";
}
.mbrib-file:before {
  content: "";
}
.mbrib-flag:before {
  content: "";
}
.mbrib-folder:before {
  content: "";
}
.mbrib-gift:before {
  content: "";
}
.mbrib-github:before {
  content: "";
}
.mbrib-globe-2:before {
  content: "";
}
.mbrib-globe:before {
  content: "";
}
.mbrib-growing-chart:before {
  content: "";
}
.mbrib-hearth:before {
  content: "";
}
.mbrib-help:before {
  content: "";
}
.mbrib-home:before {
  content: "";
}
.mbrib-hot-cup:before {
  content: "";
}
.mbrib-idea:before {
  content: "";
}
.mbrib-image-gallery:before {
  content: "";
}
.mbrib-image-slider:before {
  content: "";
}
.mbrib-info:before {
  content: "";
}
.mbrib-italic:before {
  content: "";
}
.mbrib-key:before {
  content: "";
}
.mbrib-laptop:before {
  content: "";
}
.mbrib-layers:before {
  content: "";
}
.mbrib-left-right:before {
  content: "";
}
.mbrib-left:before {
  content: "";
}
.mbrib-letter:before {
  content: "";
}
.mbrib-like:before {
  content: "";
}
.mbrib-link:before {
  content: "";
}
.mbrib-lock:before {
  content: "";
}
.mbrib-login:before {
  content: "";
}
.mbrib-logout:before {
  content: "";
}
.mbrib-magic-stick:before {
  content: "";
}
.mbrib-map-pin:before {
  content: "";
}
.mbrib-menu:before {
  content: "";
}
.mbrib-mobile:before {
  content: "";
}
.mbrib-mobile2:before {
  content: "";
}
.mbrib-mobirise:before {
  content: "";
}
.mbrib-more-horizontal:before {
  content: "";
}
.mbrib-more-vertical:before {
  content: "";
}
.mbrib-music:before {
  content: "";
}
.mbrib-new-file:before {
  content: "";
}
.mbrib-numbered-list:before {
  content: "";
}
.mbrib-opened-folder:before {
  content: "";
}
.mbrib-pages:before {
  content: "";
}
.mbrib-paper-plane:before {
  content: "";
}
.mbrib-paperclip:before {
  content: "";
}
.mbrib-photo:before {
  content: "";
}
.mbrib-photos:before {
  content: "";
}
.mbrib-pin:before {
  content: "";
}
.mbrib-play:before {
  content: "";
}
.mbrib-plus:before {
  content: "";
}
.mbrib-preview:before {
  content: "";
}
.mbrib-print:before {
  content: "";
}
.mbrib-protect:before {
  content: "";
}
.mbrib-question:before {
  content: "";
}
.mbrib-quote-left:before {
  content: "";
}
.mbrib-quote-right:before {
  content: "";
}
.mbrib-redo:before {
  content: "";
}
.mbrib-refresh:before {
  content: "";
}
.mbrib-responsive:before {
  content: "";
}
.mbrib-right:before {
  content: "";
}
.mbrib-rocket:before {
  content: "";
}
.mbrib-sad-face:before {
  content: "";
}
.mbrib-sale:before {
  content: "";
}
.mbrib-save:before {
  content: "";
}
.mbrib-search:before {
  content: "";
}
.mbrib-setting:before {
  content: "";
}
.mbrib-setting2:before {
  content: "";
}
.mbrib-setting3:before {
  content: "";
}
.mbrib-share:before {
  content: "";
}
.mbrib-shopping-bag:before {
  content: "";
}
.mbrib-shopping-basket:before {
  content: "";
}
.mbrib-shopping-cart:before {
  content: "";
}
.mbrib-sites:before {
  content: "";
}
.mbrib-smile-face:before {
  content: "";
}
.mbrib-speed:before {
  content: "";
}
.mbrib-star:before {
  content: "";
}
.mbrib-success:before {
  content: "";
}
.mbrib-sun:before {
  content: "";
}
.mbrib-sun2:before {
  content: "";
}
.mbrib-tablet-vertical:before {
  content: "";
}
.mbrib-tablet:before {
  content: "";
}
.mbrib-target:before {
  content: "";
}
.mbrib-timer:before {
  content: "";
}
.mbrib-to-ftp:before {
  content: "";
}
.mbrib-to-local-drive:before {
  content: "";
}
.mbrib-touch-swipe:before {
  content: "";
}
.mbrib-touch:before {
  content: "";
}
.mbrib-trash:before {
  content: "";
}
.mbrib-underline:before {
  content: "";
}
.mbrib-undo:before {
  content: "";
}
.mbrib-unlink:before {
  content: "";
}
.mbrib-unlock:before {
  content: "";
}
.mbrib-up-down:before {
  content: "";
}
.mbrib-up:before {
  content: "";
}
.mbrib-update:before {
  content: "";
}
.mbrib-upload:before {
  content: "";
}
.mbrib-user:before {
  content: "";
}
.mbrib-user2:before {
  content: "";
}
.mbrib-users:before {
  content: "";
}
.mbrib-video-play:before {
  content: "";
}
.mbrib-video:before {
  content: "";
}
.mbrib-watch:before {
  content: "";
}
.mbrib-website-theme:before {
  content: "";
}
.mbrib-wifi:before {
  content: "";
}
.mbrib-windows:before {
  content: "";
}
.mbrib-zoom-out:before {
  content: "";
}
